/* global standards */
*{
  /* i am aware this many !important calls is bad*/
  /* it'll get fixed */
  color:#E1E4D5 !important;
}

body{
  background-color:#91957E;
}

img{
  height:400px;
}

/* home screen */
.home h1, .home h2{
  text-align:center;
}

.home h1{
  font-size:56px;
}

.home button{
  display:block;
  margin:0 auto;
  margin-bottom:15px;
}

.home .draft-choice{
  margin-top:55px;
}

.draft-info{
  background-color:#91957E;
  border-color:#3D402D;
  padding:15px;
}

.draft-info h2, .draft-info h3{
  text-align:center;
}

.draft-info .start-draft{
  display:block;
  margin:0 auto;
}

/* gatekeeper */
.gatekeeper {
  text-align: center;
}

.gatekeeper h1 {
  margin-top: 200px;
  font-size: 70px;
}

/* pool upload */
.upload-pool h1{
  text-align:center;
}

.upload-pool .pool-uploader{
  display:block;
  margin:0 auto;
  height:375px;
  width:250px;
  background-color:#6C7059;
  border-radius:10px;
  border:2px solid #3D402D;
  resize:none;
  padding:10px;
  box-sizing:border-box;
  box-shadow:inset 2px 2px 10px #3B3C35;
}

.upload-pool .upload-button{
  display:block;
  margin:15px auto;
}

/* draft view */
.completion-container{
  text-align:center;
}

.popover{
  max-width:400px !important;
  text-align:center;
}

.popover img{
  height:415px;
}

.restart-draft{
  display:block;
  margin:15px auto;
}

.draft-card{
  height:245px;
}

.inner-draft-container{
  width:900px;
  margin:0 auto;
  text-align:center;
}

.draft-options{
  text-align:center;
  margin:15px 0px;
}

.picks, .burns{
  width:900px;
  margin:0 auto;
  text-align:center;
}

/* card pool view */
.draft-col{
  width:180px;
  display:inline-block;
  margin: 5px;
  padding:5px;
}

.draft-col li{
  list-style-type:none;
  padding:0px;
  margin:3px 0px;
}

.white{
  border: 3px solid darkgrey;
}

.white li:hover{
  background-color:lightblue;
}

.blue{
  background-color:#66ccff;
  border: 3px solid #0099e6;
}

.blue li:hover{
  background-color:#C7F1FF
}

.black{
  background-color:#bfbfbf;
  border: 3px solid black;
}

.black li:hover{
  background-color:#CCCCCC;
}

.red{
  background-color:#ff6666;
  border: 3px solid #cc0000;
}

.red li:hover{
  background-color:#FF8A97;
}

.green{
  background-color:#99e699;
  border: 3px solid #248f24;
}

.green li:hover{
  background-color:#A6FFAD;
}

.multicolor{
  background-color:#ffff99;
  border: 3px solid #ffd966;
}

.multicolor li:hover{
  background-color:#E0D900;
}

.colorless{
  background-color:#e0e0d1;
  border: 3px solid #8a8a5c;
}

.colorless li:hover{
  background-color:#E8E8E8;
}

/* pool builder */
.pool-builder-modal{
  width:1400px;
  transition: width 1s;
}

.deck-builder-modal{
  width:900px;
  transition:width 1s
}

.pool-builder{
  margin:0 auto;
  text-align:center;
  width:340px;
  height:630px;
}

.pool-builder h3{
  text-align:center;
}

.pool-builder textarea{
  resize:none;
  overflow:auto;
  margin:10px;
  color:black;
  height:350px;
  width:250px;
}

.pool-builder .pool-view, .pool-builder .builder-view{
  margin:5px;
}

.pool-builder .btn{
  height:45px;
}
