img{
  height:400px;
}

body{
  background-color:darkgrey;
}

.play-area{ /* need to programatically set position*/
  background-color:lightgrey;
  width:100%;
  height:500px;
  position:relative;
  top:150px;
}

.hand{
  position:fixed;
  right:0;
  left:0;
  width:650px;
  height:120px;
  border:3px solid black;
}

.my-hand{
  bottom:0px;
}

.opponent-hand{
  top:0px;
}
