<h2>glimpse draft</h2>
<h3>two players</h3>
<ul>
  <li>9 packs of 15 cards per drafter</li>
  <li>the drafters each crack one pack, then make 1 pick</li>
  <li>each drafter then removes 2 cards from their packs from the draft (i.e. burns 2 cards)</li>
  <li>drafters switch packs with their opponent</li>
  <li>repeat this process until every pack has been drafted and each drafter has
    a 45 card pool</li>
    <li>build a 40 card deck, and get to playing</li>
  </ul>
  <button class="btn btn-default start-draft">start draft</button>
