<div class="container">
  <h1>mtg drafter</h1>
  <h2>choose your format</h2>

  <div class="draft-choice">
    <button class="btn btn-default start-glimpse">glimpse draft</button>
    <button class="btn btn-default start-grid">grid draft</button>
    <button class="btn btn-default start-winston">winston draft</button>
    <button class="btn btn-default start-winchester">winchester draft</button>
  </div>
</div>
<div class="modal fade draft-info-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content draft-info">
    </div>
  </div>
</div>
